[submodule "roles/ansible-role-ansible"]
	path = roles/ansible-role-ansible
	url = https://github.com/geerlingguy/ansible-role-ansible
[submodule "roles/ansible-role-locales"]
	path = roles/ansible-role-locales
	url = ssh://gitea@git.senbonzakura.net:2222/Mage/ansible-role-locales.git
	branch = master
